<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_URI} !^public
RewriteRule ^(.*)$ public/$1 [L]

</IfModule>
AddHandler application/x-httpd-php81 .php .php5 .php4 .php3
RewriteCond %{HTTP_HOST} ^envio\.africa$ [OR]
RewriteCond %{HTTP_HOST} ^www\.envio\.africa$
RewriteRule ^/?$ "https\:\/\/motorafrica\.co\/" [R=301,L]

