@extends('layout.main')
@section('content')
    <title>MotorAfrica | Auto Financing</title>

    @include('section.hero_auto_financing')

    <div class="home-swipe pt-4 bg-white">
        <div class="container-padding">
            <div class="row justify-content-center reverse-col">
                <div class="col-md-10 col-lg-5">
                    <div class="swipe-in">
                        <img src={{ asset('assets/images/car_subscription2.webp') }} alt="">
                    </div>
                </div>
                <div class="col-md-10 col-lg-7">
                    <div class="swipe-in swipe-padding">
                        <p class="caption-title-sm">
                            <span class="block-display">Here's how Motor Africa's fleet automation cloud service enhances
                                innovation for auto finance - </span>
                        </p>
                        <p class="caption-icon-text">
                            <span class="caption-icon"><i class='bx bx-checkbox-square'></i></span>
                            <span class="caption-text">
                                <b>Driver and Guarantor KYC:</b> Motor Africa's fleet automation cloud service streamlines
                                the Know Your Customer (KYC) process for drivers and guarantors, ensuring compliance and
                                minimizing risks for auto finance companies.
                            </span>
                        </p>
                        <p class="caption-icon-text">
                            <span class="caption-icon"><i class='bx bx-checkbox-square'></i></span>
                            <span class="caption-text">
                                <b>Guaranteed Repayments and Vehicle Immobilization:</b> With Motor Africa's solution, auto
                                finance companies can enforce guaranteed repayments and immobilize a vehicle's engine for
                                defaulters, reducing financial risks and ensuring payment compliance.
                            </span>
                        </p>
                        <p class="caption-icon-text">
                            <span class="caption-icon"><i class='bx bx-checkbox-square'></i></span>
                            <span class="caption-text">
                                <b>Professional Vehicle Inspection and Maintenance Scheduling:</b> Motor Africa's fleet
                                automation cloud service facilitates professional vehicle inspections and maintenance
                                scheduling at preferred workshops, providing detailed inspection reports to maintain vehicle
                                quality and longevity.
                            </span>
                        </p>
                        <p class="caption-icon-text">
                            <span class="caption-icon"><i class='bx bx-checkbox-square'></i></span>
                            <span class="caption-text">
                                <b>Real-time Location Monitoring:</b> Auto finance companies can monitor the real-time
                                location
                                information of each financed vehicle and access historical data for improved asset tracking
                                and risk management.
                            </span>
                        </p>
                        <p class="caption-icon-text">
                            <span class="caption-icon"><i class='bx bx-checkbox-square'></i></span>
                            <span class="caption-text">
                                <b>Task Management Tool:</b> Auto finance managers can use the task management tool to set
                                operational rules while also billing offenders.
                            </span>
                        </p>

                        <p class="caption-title-xsm mt-4">
                            Experience the transformative power of Motor Africa's fleet automation software and elevate your
                            workshop management to new heights. Embrace innovation, efficiency, and success with Motor
                            Africa
                        </p>
                        <div class="mt-4">
                            <a href="/contact-us" class="start-now-btn">Book A Demo</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="home-swipe pt-4 bg-white">
        <div class="container-padding">
            <div class="row justify-content-center">

                <div class="col-md-10 col-lg-7">
                    <div class="swipe-in swipe-padding">
                        <p class="caption-title-sm">
                            <span class="block-display">THAT'S NOT ALL...</span>
                        </p>
                        <p class="caption-title-xsm">
                            Other important aspects of Motor Africa's fleet automation cloud service for auto finance
                            companies include:
                        </p>

                        <p class="caption-icon-text">
                            <span class="caption-icon"><i class='bx bx-checkbox-square'></i></span>
                            <span class="caption-text">
                                <b>Enhanced Risk Management:</b> By providing real-time monitoring and detailed analytics,
                                Motor Africa's solution helps auto finance companies mitigate risks associated with loan
                                defaults, asset misuse, and non-compliance.
                            </span>
                        </p>
                        <p class="caption-icon-text">
                            <span class="caption-icon"><i class='bx bx-checkbox-square'></i></span>
                            <span class="caption-text">
                                <b>Improved Customer Service:</b> The automation features enable auto finance companies to
                                provide better customer service through timely notifications, efficient billing processes,
                                and transparent communication with clients.
                            </span>
                        </p>
                        <p class="caption-icon-text">
                            <span class="caption-icon"><i class='bx bx-checkbox-square'></i></span>
                            <span class="caption-text">
                                <b>Cost Efficiency:</b> Motor Africa's fleet automation cloud service optimizes operational
                                costs by streamlining processes, reducing manual errors, and enhancing overall efficiency in
                                managing auto finance operations.
                            </span>
                        </p>
                        <p class="caption-icon-text">
                            <span class="caption-icon"><i class='bx bx-checkbox-square'></i></span>
                            <span class="caption-text">
                                <b>Data-driven decision-making:</b> Access to comprehensive data analytics and reporting
                                tools empowers auto finance companies to make informed decisions, optimize loan portfolios,
                                and drive business growth based on actionable insights.
                            </span>
                        </p>
                        <p class="caption-title-xsm mt-4">
                            Motor Africa's fleet automation cloud service not only drives innovation for auto finance but
                            also enhances operational effectiveness, risk management, customer service, cost efficiency, and
                            data-driven decision-making for auto finance companies seeking to excel in the industry.
                        </p>
                        <div class="mt-4">
                            <a href="/contact-us" class="start-now-btn">Book A Demo</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-lg-5">
                    <div class="swipe-in">
                        <img src={{ asset('assets/images/car_subscription2.webp') }} alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{-- @include('section.how-it-works') --}}


    {{-- @include('section.advert') --}}

    {{-- @include('section.title-blog-post') --}}


    {{-- @include('section.partners') --}}
@endsection
